<div class="app-wrapper">
  <mat-toolbar color="primary" class="header">
    <span>UK Pill Identifier</span>
  </mat-toolbar>

  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form-container">
    <div class="form-row">
      <mat-form-field appearance="fill" class="half-width">
        <mat-label>Pill Imprint (Side 1)</mat-label>
        <input matInput formControlName="pillImprint1" />
      </mat-form-field>

      <mat-form-field appearance="fill" class="half-width">
        <mat-label>Pill Imprint (Side 2)</mat-label>
        <input matInput formControlName="pillImprint2" />
      </mat-form-field>
    </div>

    <div class="form-row">
      <mat-form-field appearance="fill" class="half-width">
        <mat-label>Pill Colour</mat-label>
        <mat-select formControlName="pillColour">
          <mat-option *ngFor="let option of pillColours" [value]="option">
            {{ option }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill" class="half-width">
        <mat-label>Pill Shape</mat-label>
        <mat-select formControlName="pillShape">
          <mat-option *ngFor="let option of pillShapes" [value]="option">
            {{ option }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <button mat-raised-button class="half-width" color="primary" type="submit" [disabled]="form.invalid">
      Identify Pill
    </button>

    <mat-progress-bar *ngIf="identifyingPills" mode="indeterminate"></mat-progress-bar>
  </form>

  <div *ngIf="identifiedPills.length < 1 && isSubmitted" class="no-pills-found">
    <p>No Pills Identified!</p>
  </div>

  <div *ngIf="identifiedPills.length > 0" class="pills-container">
    <mat-card class="pill-card" appearance="outlined" *ngFor="let pill of identifiedPills">
      <mat-card-header>
        <mat-card-title>{{ pill.name }} {{ pill.strength }}</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="{{ pill.image }}" height="200px" alt="Pill Image" />
      <mat-card-content>
        <p></p>
        <p><strong>Manufacturer:</strong> {{ pill.manufacturer }}</p>
        <p><strong>Brand/Generic Name:</strong> {{ pill.name }}</p>
        <p><strong>Strength:</strong> {{ pill.strength }}</p>
        <p><strong>Class:</strong> {{ pill.class }}</p>
        <p><strong>Form:</strong> {{ pill.form }}</p>
        <p><strong>PL Number:</strong> {{ pill.plNumber }}</p>
        <p><strong>Imprint (Side 1):</strong> {{ pill.imprint1 }}</p>
        <p><strong>Imprint (Side 2):</strong> {{ pill.imprint2 }}</p>
        <p><strong>Size:</strong> {{ pill.size }}</p>
        <p><strong>Colour:</strong> {{ pill.colour }}</p>
        <p><strong>Shape:</strong> {{ pill.shape }}</p>
      </mat-card-content>
    </mat-card>
  </div>

  <mat-toolbar color="primary" class="footer">
    <span>© {{ dateYear }} PIP UK</span>
  </mat-toolbar>
</div>
